.listSelection{
    height: 7%;
    display: flex;
    justify-content: space-around;
    list-style:none;
    align-items: center;
    border-bottom: 1px solid #FFFFFF50;
}

.listSelection > *{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.buttonSelectionActive{
    color: #fff;
}

@media (min-width: 768px){

    .listSelection{
        height: 100%;
        width: 40%;
        padding: 10% 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;

        li{
            width: 100%;
            height: 20%;
        }
    }

    .buttonSelectionActive{
        color: #fff;
        border: none;
    }

    @media (min-width: 1022px){

        .listSelection{
            width: 55%;
            height: 40%;
            padding: 0%;
        }

        .listSelection > li{
            height: 23%;
        }
    }

}