@use './style.scss' as style;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #070724;
  color: #fff;
}

main{
  height: 100vh;
}

.button-selection{
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 9px;
  font-weight: bold;
  font-family: style.$font-Spartan;
  color: #FFFFFF50;
}

.mercury{
  fill: style.$icon-Mercury;
}

.venus{
  fill: style.$icon-Venus;
}

.earth{
  fill: style.$icon-Earth;
}

.mars{
  fill: style.$icon-Mars;
}

.jupiter{
  fill: style.$icon-Jupiter;
}

.saturn{
  fill: style.$icon-Saturn;
}

.uranus{
  fill: style.$icon-Uranus;
}

.neptune{
  fill: style.$icon-Neptune;
}
