@use './style.scss' as style;

.section{
    height: 87%;
    padding: 5%;
    background-image: url('../public/assets/background-stars.svg');
}

.informations{
    height: 100%;
}

.report{
    height: 55%;
}

.report ul{
    display: none;
}

.text{
    padding: 9% 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: style.$font-Spartan;
}

.planetName > *{
    font-size: 40px;
    font-family: style.$font-Antonio;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.paragraph{
    width: 100%;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    font-family: style.$font-Spartan;
}

.source{
    color: #FFFFFF50;
    font-size: 12px;
    align-self: center;
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.source a{
    color:#8f606090;
    font-weight: 700;
}

.data{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board{
    align-items: center;
    border: 1px solid #FFFFFF50;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 9px;

    .caption{
        font-size: 8px;
        font-weight: bold;
        color: #FFFFFF50;
        font-family: style.$font-Spartan;
    }

    .description{
        font-size: 20px;
        font-family: style.$font-Antonio;   
    }
}



@media (min-width: 768px){

    .section{
        height: 75%;
    }

    .report{
        display: flex;
        justify-content: space-between;
    }

    .text{
        width: 50%;
        padding: 4% 0%;
    }

    .planetName > *{
        font-size: 48px;
        text-align: left;
    }

    .paragraph{
        text-align: left;
    }

    .source{
        align-self: flex-start;
        justify-content: flex-start;
    }

    .data{
        height: 14%;
        flex-direction: row;
        justify-content: space-between;
    }

    .board{
        width: 24%;
        height: 100%;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-around;

        .description{
            font-size: 24px;
        }
    }

    .report ul{
        display: flex;
        justify-content: space-evenly;
        padding: 5% 0%;
    }
  
}

@media (min-width: 1022px){

    .section{
        height: 100%;
        overflow: hidden;
        padding: 0%;
    }

    .informations{
        height: 65%;
        display: flex;
        align-items: center;
        margin-bottom: 2%;
    }

    .report{
        height: 100%;
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }

    .text{
        width: 55%;
        height: 60%;
        padding: 5% 0%;
        overflow: hidden;
    }

    .data{
        justify-content: space-evenly;
        padding: 0% 7%;

        .board{
            width: 20%;
        }
    }

    .report ul{
        padding: 0%;
        display: flex;
        justify-content: space-evenly;
    }

   
}