$font-Antonio: 'Antonio', sans-serif;
$font-Spartan: 'Spartan', sans-serif;

$gray-light: #838391;
$gray-dark: #38384F;
$greyish-blue: #419EBB;
$blue: #2d68f0;
$green: #1ec2a4;
$orange: #CD5120;
$purple: #6f2ed6;
$yellow: #EDA249;
$red: #D14C32;
$red-live: #D83A34;
