$font-Antonio: 'Antonio', sans-serif;
$font-Spartan: 'Spartan', sans-serif;

$gray-light: #838391;
$gray-dark: #38384F;


$color-Mercury: #419EBB;
$color-Venus: #EDA249;
$color-Earth: #6f2ed6;
$color-Mars: #D14C32;
$color-Jupiter: #D83A34;
$color-Saturn: #CD5120;
$color-Uranus: #1ec2a4;
$color-Neptune: #2d68f0;

$width-planet: 111px;

$image-Mercury: '../public/assets/geology-mercury.png';
$image-Venus: '../public/assets/geology-venus.png';
$image-Earth: '../public/assets/geology-earth.png';
$image-Mars: '../public/assets/geology-mars.png';
$image-Jupiter: '../public/assets/geology-jupiter.png';
$image-Saturn: '../public/assets/geology-saturn.png';
$image-Uranus: '../public/assets/geology-uranus.png';
$image-Neptune: '../public/assets/geology-neptune.png';

$icon-Mercury: #DEF4FC;
$icon-Venus: #F7CC7F;
$icon-Earth: #545BFE;
$icon-Mars: #FF6A45;
$icon-Jupiter: #ECAD7A;
$icon-Saturn: #FCCB6B;
$icon-Uranus: #65F0D5;
$icon-Neptune: #497EFA;
